[Unit]
Description=gRPC Notification Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/notify-service
ExecStart=/root/apps/notify-service/notify-service --config=/root/apps/notify-service/congigs/config.yaml
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target